<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="ServiceFrequencyInMins" value="1"></add>
		<add key="AppKeyPath" value="D:\\GIT\\PushNotification\\SystelTechnologies.bmp"></add>
		<add key="DBConn" value=""></add>
		<add key="ServiceDocPath" value="D:\\Application\\EmailNotification"></add>
		<add key="RandomStringLength" value="10"></add>
	</appSettings>
</configuration>
